  body {
    background-image: url('https://chrisaam.files.wordpress.com/2015/03/wallpaper-2846361.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;  
  }

  .heading{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .container{
  position: relative;
    background-position: center;
  	/* box-shadow: 5px 5px 10px 10px #888888;
  	padding: 10px 10px 10px 10px; */
  }
  .form-control{
  	width: 60%;
  	margin-left: 20%;
  	margin-bottom: 20px;
  }
  .video-container{
    position: relative;
  	height : 500px;
  	width : 90%;
  	margin: 70px 50px 50px 50px;
  }
  .form-group{
  	margin-bottom: 50px;
  }
  .video-player{
  	height:100%;
  	width: 100%;
  }
  .play{
    float:right;
    background-size: cover;
    background-color: brown;
  	margin-right:20%;
  }
  .download{
    float: right;
    background-size: cover;
    background-color: brown;
  	margin-right:2%;
  }
  button.playlist{
    float: right;
    background-size: cover;
    background-color: brown;
    margin-right:2%; 
    font-size: inherit;
    line-height: inherit;
  }
  #close-playlist{
    margin-right:20%;
    margin-bottom: 50px;
  }
  div.playlist{
    margin-top: 10%;
    margin-bottom: 50px;
  }
  input[type="text"].playlist{
    margin-left: 10%;
    width:40%;
  }