{% extends 'base.html' %}

{% block head %}  
<link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Youtube-512.png">
{% endblock %}


{% block body %}
<div class = "container">
	<h1 class = "heading">
		Enter the link below
	</h1>
	<div class = "form-group">
		<form action="/" method="POST" autocomplete="off">
			<input class = 'form-control' type="text" name="content" id="content">
		  <input class = "play" type="submit" value="Play">
		</form>
	
		<form action="/download" method="POST" autocomplete="off">
		  <input class = "download" type="submit" value="Download">
		</form>
	</div>
	<div class = "video-container">
		<iframe class = "video-player" src="https://www.youtube.com/embed/{{video}}" allowfullscreen="" frameborder="0"></iframe>
	</div>
</div>
{% endblock %}