{% extends 'base.html' %}

{% block head %}  
<link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Youtube-512.png">
{% endblock %}


{% block body %}
<div class = "container">
	<!-- <img src="https://cdn.dribbble.com/users/1696785/screenshots/3941625/youtube-loading-animation.gif" height="100" width="150" style="opacity: 0.85;"> -->
	<h1 class = "heading"><br><br><mark>
	Enter the link below</mark>
	</h1>
	<div class = "form-group">
		<br>
		<form action="/" method="POST" autocomplete="off">
			<input class = 'form-control' type="text" name="content" id="content">
		  <input class = "play" type="submit" value="Play">
		</form>
	
		<form action="/download" method="POST" autocomplete="off">
		  <input class = "download" type="submit" value="Download">
		</form>
		<a href = "/playlist"> <button class = "playlist"> Create Playlist</button></a>
	</div>
	{% if playlist %}
	<div class = "playlist">
		<form action = "/new" method = "POST" autocomplete="off">
			<input type = "text" class = "playlist" name = "content" id = "content">
			<input type = "submit" value = "Add">
		</form>
		{%for link in links %}
		<form action="/" method="POST" autocomplete="off">
			<input type="text" class = "playlist" name="content" id="content" value = "{{link}}">
		  <input type="submit" value="Play">
		</form>
		{%endfor%}
	</div>
	<div>
		<a href = "/playlist/close"> <button id = "close-playlist"class = "playlist"> Close Playlist</button></a>
	</div>
	{% endif %}
	<div class = "video-container">
		<iframe class = "video-player" src="https://www.youtube.com/embed/{{video}}" allowfullscreen="" frameborder="0" width="200" height="200"></iframe>
	</div>
</div>
{% endblock %}